# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# PyTorch model checkpoints
*.pt
*.pth
checkpoints/
training_results/

# Dataset (too large for GitHub)
data/
*.zip
*.tar.gz

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
*.pyd
.Python
